<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Expenses</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/bootstrap")
</head>
<body>
    <div class="mainWrapper">

        <div class="wrapper shadow">

            <div id="userSettings">
                @Html.Partial("_UserSettings")
            </div>
            @*<div id="body">*@
                @RenderBody()
            @*</div>*@
        </div>
        
    </div>

    @*<footer>
        <div id="footer">
            <div class="container">
                <p class="muted credit">&copy; @DateTime.Now.Year - <a href="http://www.briankeating.net">www.briankeating.net</a></p>
            </div>
        </div>
    </footer>*@

    <!-- Le javascript
            ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/ajaxlogin")
    @RenderSection("scripts", required: false)
</body>
</html>
