@model Expenses.Web.Models.LoginModel
@{
    ViewBag.Title = "Expenses";
}
@functions{
    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;                
    }
}

<header>
    <h1>@ViewBag.Title</h1>
</header>



<div id="main-content">
    

    @if (@User.Identity.IsAuthenticated)
    {
        <p class="error" data-bind="text: error"></p>
        <input id="antiForgeryToken" type="hidden" value="@GetAntiForgeryToken()" />
    
    
    
    <div id="expensesWrap">
        <section>
            <div id="expenseReportsList" data-bind="visible: expenseReports().length > 0">
                <table>
                    <tbody data-bind="foreach: expenseReports()">
                        <tr data-bind="click: $parent.getReport, attr: { expenseReportId: expenseReportId }" style="cursor:pointer" >
                            <td data-bind="text: name"></td>
                        </tr>
                    </tbody>
                </table>        
            </div>
        
        </section>
    
        <section>
            <div id="expensesList" data-bind="with:selectedReport">
                @*<button data-bind="click: addExpenseReport">Add Expense</button>*@
                <button>Add Expense</button>
                <button data-bind=" disabled: expenses().length === 0">Submit Report</button>
                
                <table id="expensesTable">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: expenses()">
                        <tr data-bind="click: $root.getExpense, attr: { expenseId: expenseId }" style="cursor:pointer" >
                            <td data-bind="text: date"></td>
                            <td data-bind="text: description"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        
        <section>
            <div id="expenseDetails" data-bind="disabled: selectedReport.selectedExpense !== null">
                test

            </div>
        </section>
    </div>

   
    }
    else
    {
        <div class="ExpenseReport" id="loginPanel">
            <section id="localLoginPanel">
                <h2>Log in</h2>
                @Html.Partial("_Login")
            </section>
            <section id="socialLoginPanel">
                <h2>Log in using another service</h2>
                @Html.Action("ExternalLoginsList", "Account", new { ReturnUrl = ViewBag.ReturnUrl })
            </section>
            <p>First time here? <a id="showRegister">Sign up</a></p>
        </div>
        <div class="ExpenseReport" id="registerPanel">
            <h2>Sign up</h2>
            @Html.Partial("_Register")
            <p>Already signed up? <a id="showLogin">Log in</a></p>
        </div>
    }
</div>

@if (@User.Identity.IsAuthenticated)
{
    @section scripts {
        @Scripts.Render("~/bundles/moment")
        @Scripts.Render("~/bundles/knockout")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/expenses")
    }
}